<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h2>Kick-Off Präsentation QV2021<br><small>Verantwortliche Fachkräfte</small></h2>
                </section>
                <%= require('html-loader!./pages/disclaimer.html') %>
                <%= require('html-loader!./pages/aims.html') %>
                <%= require('html-loader!./pages/terms.html') %>
                <%= require('html-loader!./pages/roles.html') %>
                <%= require('html-loader!./pages/process.html') %>
                <%= require('html-loader!./pages/last.html') %>
            </div>
        </div>
    </body>
</html>